out/preview/
out/_voice/
.models/
__pycache__/
out/_2001/sb/*.png
out/_2001/sb/info.json
out/_2001/frames/
out/_2001/render.log
out/preview/
plates/
out/_2001/assemble.log
out/_2001_video.mp4
out/_2001_audio.wav
out/_2001/assemble_2d.log
out/_2001r_video.mp4
out/_2001r_audio.wav
